#page-wrap {
    max-width: 500px;
    margin: 0 auto;
  }

.border {
  border-style: solid;
  border-color: black;
  border-width: 10px;

}

.image {
  width: 800px;
  
}

.h1 {
  text-align: center;
  background-color: bisque;
  color: rgb(24, 138, 132);
}

.b1 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
}

.b2 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
}

.b3 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
}