#page-wrap {
    max-width: 500px;
    margin: 0 auto;
  }

.h1 {
  border: 10px;
  border-radius: 10px;
  border-color: black;
  text-align: center;
  font-size: 50px;
  background-color: bisque;
  color: rgb(24, 138, 132);
}

.b1 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
}

.b2 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
  display: inline;
}

.b3 {
  background-color: rgb(152, 112, 190);
  width: 480px;
  color: antiquewhite;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  border-radius: 6px;
  position: relative;
} 

.container {

  background-size: 700px;
  
  background-image : url(images/board.jpg);

  background-repeat: no-repeat;

  border: 10px;
  
  border-color: rgb(12, 49, 54);

  border-style: solid;
  

}  
